body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:650px;
  width:570px;
  height:100px;
  color:#1E1E1E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:141px;
  top:295px;
  width:97px;
  height:73px;
  font-family:'Helvetica', 'Helvetica';
  font-size:36px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:73px;
}
#u5 {
  position:absolute;
  left:0px;
  top:15px;
  width:97px;
  word-wrap:break-word;
}
