body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:387px;
  top:520px;
  width:163px;
  height:60px;
  color:#1E1E1E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:180px;
  top:520px;
  width:170px;
  height:60px;
  color:#1E1E1E;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:550px;
  top:730px;
  width:90px;
  height:40px;
  color:#1E1E1E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:31px;
  top:20px;
  width:150px;
  height:60px;
  color:#1E1E1E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:630px;
  width:570px;
  height:80px;
  color:#1E1E1E;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:32px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u14 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:80px;
  top:584px;
  width:590px;
  height:130px;
  color:#1E1E1E;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:130px;
}
#u16 {
  position:absolute;
  left:2px;
  top:57px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:194px;
  top:980px;
  width:281px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#CCCCCC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:21px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:330px;
  top:1005px;
  width:10px;
  height:55px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:38px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:55px;
}
#u20 {
  position:absolute;
  left:227px;
  top:1064px;
  width:217px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:12px;
  color:#FFCC00;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
